body {
	background: #000000;
	color: ##ffffff;
	font-family: Arial, sans-serif;
	max-width: 600px;
	margin: 60px auto;
	padding: 0 20px;
	line-height: 1.5;
}

h1 {
	color: #faee02;
}

p {
	font-size: 16px;
}
